<div class="titleBar">
  <h1>
    Illuminati
  </h1>
</div>
<div class="liveContent">
   <input type="text" ng-model='bri' ng-change="submit('bri', bri)">Brightness</input>
   <input type="checkbox" ng-model="on" ng-change="submit('on', on)">On/off</input>
   <input type="text" ng-model="trans">Transition time</input>
   <a ng-click="submit(x, y, bri, on, trans)">Yes?</a>
  <map name="xyMap">
    <area shape="poly" coords="0,200,100,0,200,200" href="#/live" ng-click="submit('xy', getXy($event))">
  </map>
  <img src="images/triangle.png" width="200" height="200" usemap="#xyMap">
</div>
