<div ui-sref="schedules" class="overlay"></div>
<div class="scheduleEdit">
   <rzslider rz-slider-model="briSlider.value" rz-slider-options="briSlider.options"></rzslider>
   <input type="checkbox" ng-model="on">On/off</input>
  <map name="xyMap">
    <area shape="poly" coords="0,200,100,0,200,200" ng-click="setXy(getXy($event))">
  </map>
  <img src="images/gamutb.png" width="200" height="200" usemap="#xyMap">
  <input type="number" min="0" max="23" ng-model="hour"/>
  <input type="number" min="0" max="59" ng-model="minute"/>
  <input type="checkbox" ng-model="repeated">Repeat</input>
  <div ng-if="repeated">
    <span ng-repeat="(key, value) in cron"><span ng-if="value">  {{key}}</span><span nf-if="!value"></span></span>
  </div>
  <button>Save</button>
</div>
