<div class="titleBar">
  <h1>
    Illuminati
  </h1>
</div>
<div class="scheduleBoard">
  <div ng-repeat="schedule in schedules">
    <div class="schedule" ng-style="getSchedColor(schedule)">
      <ul>
        <li>
          {{schedule.label}}<br>
        </li>
        <li ng-if="typeof schedule.time !=== 'undefined'">
          Time: {{schedule.time}}
        </li>
        <li>
          Light state: {{schedule.on}}
        </li>
        <li>
          Transition time: {{schedule.transitiontime}}
        </li>
        <li>
          XY: {{schedule.xy}}
        </li>
        <li ng-if="!isCronAdvanced(schedule.cron)">
          <span ng-repeat="(key, value) in schedule.weekdays"><span ng-if="value">  {{key}}</span><span nf-if="!value"></span></span>
        </li>
        <li ng-if="isCronAdvanced(schedule.cron)">
          Adv: {{schedule.cron.minute}} {{schedule.cron.hour}} {{schedule.cron.day}} {{schedule.cron.month}} {{schedule.cron.weekday}}
        </li>
      </ul>
    </div>
  </div>
</div>
