   <md-switch ng-model="schedule.on" ng-change="updateOn(schedule.id, {'on' : schedule.on})" aria-label="light on/off">Light on/off</md-switch>
  <md-button ng-if="schedule.on" ng-click="showColourDialog($event, schedule)">
    Colour
  </md-button>
    <label>Transition time</label>
    <input type="number" min="0" max="600" ng-model="schedule.transitiontime" ng-change="updateSchedule(schedule.id, {'transitiontime': schedule.transitiontime})">
  </md-input-container>
  <div>
    <span ng-repeat="(key, value) in schedule.weekday">
      <span class="day" ng-class="dayClass(value)" ng-click="toggleDay(schedule, key)">
        {{key}}
      </span>
    </span>
  </div>
  <md-button ng-click="delSchedule(schedule)" aria-label="delete schedule">
  <p class="delSchedule material-icons">delete</p>
  </md-button>
