<div class="titleBar">
  <h1>
    Illuminati
  </h1>
</div>
<div class="scheduleBoard">
  <div ng-repeat="schedule in schedules | orderBy: 'timeStamp'">
    <md-card ng-click="toggleEdit(schedule['_id']['$oid'])" class="schedule">
      <div class="scheduleBox" ng-style="$parent.colors[schedule.id]">
        <ul>
          <li class="scheduleCronTime" ng-if="cron.getTime(schedule.cron)">
             <span ng-click="editTime($event, schedule)">{{cron.getTime(schedule.cron)}}</span>
          </li>
          <li ng-if="schedule.time">
            Time: {{schedule.time}}
          </li>
          <li class="scheduleLabel">
            {{schedule.label}}<br>
          </li>
          <li ng-if="!Cron.isCronAdvanced(schedule.cron)" class"testtest">
            <span ng-repeat="(key, value) in schedule.weekDays"><span ng-if="value">  {{key}}</span><span nf-if="!value"></span></span>
          </li>
          <li ng-if="Cron.isCronAdvanced(schedule.cron)">
            Adv: {{schedule.cron.minute}} {{schedule.cron.hour}} {{schedule.cron.day}} {{schedule.cron.month}} {{schedule.cron.weekday}}
          </li>
        </ul>
      <div  class="scheduleEdit" ng-if="isEditEnabled(schedule.id)" ng-click="$event.stopPropagation()" ng-include="editTemplate"></div>
      </div>
    </md-card>
  </div>
  <div>
    <a class="addSchedule" ng-click="createSchedule()">Create new schedule</a>
  </div>
</div>
