<div ui-view></div>
<div class="titleBar">
  <h1>
    Illuminati
  </h1>
</div>
<div class="scheduleBoard">
  <div ng-repeat="schedule in schedules | orderBy: 'timeStamp'">
    <div class="schedule" ng-style="getSchedColor(schedule)">
      <ul>
        <li>
          {{schedule.creationtime}}
        </li>
        <li class="scheduleLabel">
          {{schedule.label}}<br>
        </li>
        <li ng-if="schedule.time">
          Time: {{schedule.time}}
        </li>
        <li class="scheduleCronTime" ng-if="cron.getTime(schedule.cron)">
          Time: {{cron.getTime(schedule.cron)}}
        </li>
        <li>
          Light state: {{schedule.on}}
        </li>
        <li class="scheduleTransTime">
          Transition time: {{schedule.transitiontime}}
        </li>
        <li ng-if="!Cron.isCronAdvanced(schedule.cron)" class"testtest">
          <span ng-repeat="(key, value) in schedule.weekdays"><span ng-if="value">  {{key}}</span><span nf-if="!value"></span></span>
        </li>
        <li ng-if="Cron.isCronAdvanced(schedule.cron)">
          Adv: {{schedule.cron.minute}} {{schedule.cron.hour}} {{schedule.cron.day}} {{schedule.cron.month}} {{schedule.cron.weekday}}
        </li>
      </ul>
      <button ng-click="delSchedule(schedule['_id']['$oid'])">Delete</button>
      <a ui-sref="schedules.edit({scheduleid: schedule['_id']['$oid']})">Edit</a>
    </div>
  </div>
  <div>
    <a class="addSchedule" ui-sref="schedules.new({action: 'create'})">Create new schedule</a>
  </div>
</div>
