   <md-slider min="{{minBri}}" max="{{maxBri}}" ng-model="schedule.bri" ng-change="updateSchedule(schedule.id, 'bri', schedule.bri)" aria-label="brightness">Brightness</md-slider>
   <input type="checkbox" ng-model="schedule.on" ng-change="updateSchedule(schedule.id, 'on', schedule.on)">On/off</input>
  <map name="xyMap">
    <area shape="poly" coords="0,200,100,0,200,200" ng-click="updateColor(schedule, $event)"/>
  </map>
  <img src="images/gamutb.png" width="200" height="200" usemap="#xyMap">
  <md-input-container>
    <label>Label</label>
    <input type="text" ng-model="schedule.label" ng-change="updateSchedule(schedule.id, 'label', schedule.label)">
  </md-input-container>
  <input type="number" min="0" max="23" ng-model="schedule.hour" ng-change="updateCron(schedule, 'hour', schedule.hour)"> Hour</input>
  <input type="number" min="0" max="59" ng-model="schedule.minute" ng-change="updateCron(schedule, 'minute', schedule.minute)"> Minute</input>
  <input type="number" min="0" max="600" ng-model="schedule.transitiontime" ng-change="updateSchedule(schedule.id, 'transitiontime', schedule.transitiontime)"/> Transition time</input>
  <div>
    <span ng-repeat="(key, value) in schedule.weekday">
      <span class="day" ng-class="dayClass(value)" ng-click="toggleDay(schedule, key)">
        {{key}}
      </span>
    </span>
  </div>
  <md-button ng-click="delSchedule(schedule)" aria-label="delete schedule">
  <p class="delSchedule material-icons">delete</p>
  </md-button>
