/** Illuminati CSS stylesheet **/
html {
  font-family: 'Roboto', sans-serif;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
h1 {
  font-size: 1.5em;
}
/** Modal overlay **/
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
.scheduleEdit {
  padding: 0.5em;
  outline: 0;
}
.titleBar {
  height: 3.5em;
}
.titleBar h1 {
  padding-left: 0.3em;
}
.scheduleBoard, .liveContent {
  background-color: #EEEEEE;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 3.5em;
  left: 0;
  position: absolute;
}
.schedule {
  float: left;
  width: 16em;
  padding: 0.8em;
  cursor: pointer;
  outline: none;
}
.scheduleBox ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}
div.liveContent {
  height: 15em;
  padding: 2em;
}
.scheduleEdit .day {
  cursor: pointer;
}
.scheduleEdit .dayOn {
  background-color: #FFFFFF;
}
.scheduleEdit .dayOff {
  background-color: #DDDDDD;
}
.scheduleCronTime {
  font-size: 1.7em;
}
.scheduleBox :focus {
  outline: none;
}
.scheduleLabel md-input-container {
  margin: 0;
}
.scheduleLabel .noedit .md-input:not(:focus) {
  border: none;
}
.noedit .md-errors-spacer {
  display: none;
}
.weekDays {
  text-align: center;
  margin: 0.7em 0 0.7em 0;
}
.day {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding: 0.1em;
  margin: 0.15em;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.2em
}
.scheduleEdit button.md-icon-button {
  margin: 0;
}
